<a href="https://colab.research.google.com/github/harshwin1429-afk/Week2_Assignments/blob/main/Harshini_DataScience_Week2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# BASIC OPERTAIONS

# taking user input
a = int(input('Enter first integer: ')) # assigning first integer value
b = int(input('Enter second integer: ')) # assigning integer value

# Performing the Basic Operations
add = input1 + input2   # addition of two integers
sub = input1 - input2   # subtration of two integers
mul = input1 * input2   # multiplictaion of two integers
div = input1 / input2 # division of two integers
mod = input1 % input2  # modulus of two integers
expo = input1 ** input2  # exponention of two integers


#Printing the results of the arthimetic operaations using f-strings:

print(f'Addition: {add}')
print(f'Subtraction: {sub}')
print(f'Multiplication: {mul}')
print(f'Division: {div}')
print(f'Modulus: {mod}')
print(f'Exponetiation: {expo}')

Enter first integer: 7
Enter second integer: 5
Addition: 12
Subtraction: 2
Multiplication: 35
Division: 1.4
Modulus: 2
Exponetiation: 16807

In [8]:
# WORKING WITH LISTS AND ARRAYS

# Creating a list.
List = [7,2,8,10,6,9,4,20,1,5,18,12]
print('The list:',List)

# Print the length of list
print('Length of the list:' ,len(List))

# Max and Min Value of the list
print('Maximum value:' ,max(List))
print('Minimum value:' ,min(List))

# Adding and removing a value from the list
List.append(16) # adds a value to the list
List.remove(18)  # removes a value from the list
print('The Updated List:', List)

# Sorting the list
asc = sorted(List) # Ascending Order of the list
desc = sorted(List,reverse = True) # Descending Order of the list

print('Ascending order:',asc)
print('Descending order:',desc)

# Converting into NumPy arrays

import numpy as np # importing numpy
arr = np.array(List) # converting list to array

# Mean,Median and SD
print('Mean:', np.mean(arr))
print('Median:',np.median(arr))
print('Standard Deviation:',np.std(arr))

The list: [7, 2, 8, 10, 6, 9, 4, 20, 1, 5, 18, 12]
Length of the list: 12
Maximum value: 20
Minimum value: 1
The Updated List: [7, 2, 8, 10, 6, 9, 4, 20, 1, 5, 12, 16]
Ascending order: [1, 2, 4, 5, 6, 7, 8, 9, 10, 12, 16, 20]
Descending order: [20, 16, 12, 10, 9, 8, 7, 6, 5, 4, 2, 1]
Mean: 8.333333333333334
Median: 7.5
Standard Deviation: 5.343739847293799

In [13]:
# DICTIONARIES AND SETS

# Create a dictionary
student = {'name':'Nayana','age':19,'course':'Data Structures','marks':92}

# Print each key-value pair using loop
for key, value in student.items():
    print(f'{key}: {value}')

# Add a new key
student['student.id'] = '21120050'
print('Updated dict:', student)

# Unique courses set
course = {'Python', 'Data Science', 'AI', 'Python'}
print('Unique Course Set:', course)

# Set operations
set1 = {9,5,7,4,2,6}
set2 = {6,3,5,1,8}

print("Union:", set1.union(set2))
print("Intersection:", set1.intersection(set2))
print("Difference:", set1.difference(set2))

name: Nayana
age: 19
course: Data Structures
marks: 92
Updated dict: {'name': 'Nayana', 'age': 19, 'course': 'Data Structures', 'marks': 92, 'student.id': '21120050'}
Unique Course Set: {'AI', 'Data Science', 'Python'}
Union: {1, 2, 3, 4, 5, 6, 7, 8, 9}
Intersection: {5, 6}
Difference: {9, 2, 4, 7}

In [39]:
#FILE HANDLING

# Student data with name, course and marks
students = [
    ('Aswin','Data Structures', 89 ),
    ('Nayana','DAA', 73 ),
    ('Rahul', 'SQL', 69),
    ('Sabarish','SQL', 88 ),
    ('Ravishankar','Data Structures', 95 ),
    ('Tanisha','DAA', 77),
    ('Yuva','DBMS', 68)
]

# Write data to student_data.txt
with open("student_data.txt", "w") as file:
    for name, course, marks in students:
        file.write(f"{name},{course},{marks}\n")

# 3. Read and display students with marks > 75
with open("student_data.txt", "r") as file:
    print("Students with Marks Above 75:")
    for line in file:
        name, course, marks = line.strip().split(",")
        marks = int(marks)

        if marks > 75:
            print(name, course, marks)

Students with Marks Above 75:
Aswin Data Structures 89
Sabarish SQL 88
Ravishankar Data Structures 95
Tanisha DAA 77

In [43]:
#FILE HANDLING
# Create and write data into student text file
with open('student_data.txt', 'w') as file:
    file.write('Aswin, Data Structures, 89\n')
    file.write('Nayana, DAA, 69\n')
    file.write('Rahul, SQL, 73\n')
    file.write('Sabarish, SQL, 88\n')
    file.write('Ravishankar, DAA, 95\n')
    file.write('Tanisha, Data Structures, 77\n')
    file.write('Yuva, DBMS, 68\n')

# Read the file and display students with marks above 75
print("Students with marks above 75:")

with open("student_data.txt", "r") as file:
    for line in file:
        name, course, marks = line.strip().split(", ")
        if int(marks) > 75:
            print(f"Name: {name}, Course: {course}, Marks: {marks}")

Students with marks above 75:
Name: Aswin, Course: Data Structures, Marks: 89
Name: Sabarish, Course: SQL, Marks: 88
Name: Ravishankar, Course: DAA, Marks: 95
Name: Tanisha, Course: Data Structures, Marks: 77